* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    background-color: rgba(207, 205, 205, 0.733);
}

form {
    width: 400px;
    height: 200px;
    display: block;
    justify-content: center;
    text-align: center;
}

form p {
    margin-top: 10px;
    font-weight: 500;
}

form button {
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: rgba(48, 48, 231, 0.966);
    color: white;
    font-weight: 600;
}

form button:hover {
    cursor: pointer;
}